---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import Corporate from "../../components/Corporate.astro";
import AboutUs from "../../components/AboutUs.astro";
import Stats from "../../components/Stats.astro";
import Products from '../../components/Products.astro';
import Features from '../../components/Features.astro';
import DigitalMaturity from '../../components/DigitalMaturity.astro';
import References from '../../components/References.astro';
import Contact from '../../components/Contact.astro';
import ServiceCards from '../../components/ServiceCards.astro';

---

<Layout
	title="Luvi IT | Tomorrow's possibilities, today's digital reflex"
	description="Tomorrow's possibilities, today's digital reflex"
	lang="en"
>
	<main>
		<Hero />
		<Corporate />
		<ServiceCards />
		<AboutUs />
		<Stats />
		<Products />
		<Features />
		<DigitalMaturity />
		<References />
		<Contact />
	</main>
</Layout>
