---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Hero from "../../components/Hero.astro";
import Corporate from "../../components/Corporate.astro";
import Products from '../../components/Products.astro';
import Features from '../../components/Features.astro';
import DigitalMaturity from '../../components/DigitalMaturity.astro';
import LatestProjects from '../../components/LatestProjects.astro';
import Footer from '../../components/Footer.astro';
---

<Layout
	title="Luvi Bilişim | Geleceğin olasılık spektrumlarını bugünün zihnine ve kararlarına sığdıran Luvi Bilişim; dijital ataleti kırarak kurumsal zekayı genetik reflekse kodlar."
>
	<Header />
	<main>
		<Hero />
		<Corporate />
		<Products />
		<Features />
		<DigitalMaturity />
		<LatestProjects />

	</main>
	<Footer />
</Layout>
